:host {
  display: block;
  width: 100%;
}
.input {
  background-color: #364153;
  color: white;
  border: none;
}
.creat {
  background-color: #2fe5a7;
  height: 40px;
}
.container {
  background-color: #1a202c;
  color: white;
}
// @media screen and (min-width: 951px) {
//   .nav {
//     display: none;
//   }
// }
