<div class="chart-container">
  <canvas  id="MyChart" >{{ chart }}</canvas>
  <!-- <div className="progress col-12 rounded-0 my-2">
            <div className="progress_tag col-2 rounded-end-3 p-2 fw-semibold">{props.tag}: </div>
            <div className="bg-light col-12 m-0 p-0 rounded-start-3">
                <div
                    className="progress_percent rounded-start-3"
                    style={{ width: `${props.percent}%` }}
                >
                </div>
            </div>
        </div>
  <app-area-chart2></app-area-chart2> -->
</div>
